body   {
 margin: 0;
}
#navbar  {
    font-family: 'Oswald', sans-serif;
    background-color: rgba(255,255,255,0.1);
    width: 100vw;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 25px;
    padding-left: 50px;
    color: white;
    border-bottom: 1px solid white;
    z-index: 2;
    text-shadow: 1px 1px black;
}

h1 {
    margin: 0px
}

#cover  {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}
#cover-content  {
    text-align: center;
    align-self: center;
    align-items: center;
    color: white;
    margin-bottom:32px;
}
#cover-head {
    font-size: 85px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 5px 5px black;
}
#cover-text {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 5px 5px black;
}
#scroll-down-button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    border: 5px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}
#scroll-down-button-container a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.gallery    {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    position: relative;
    padding-top: 80px;  /* padding the top because the nav-bar sticky position */   
}
.slide-image    {
    height: 500px;
    width: 500px;
}
.slide-entry-left {
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    padding: 20px 5%;
    height:  350px;
}
  .slide-entry-left:active {
    opacity: 1;
    visibility: visible;
}
.slide-entry-right {
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    padding: 20px 5%;
    height:  350px;

}
  .slide-entry-right:active {
    opacity: 1;
    visibility: visible;
  }
        
